/* -------------------------------- Global Typography -------------------------------- */
body,
div,
p,
span,
table tr td,
table thead tr th,
table tfoot tr td,
table tbody tr td {
  font-family: 'Adamina', serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Alegreya SC', serif;
}

h2 {
  color: #5e9658;
}

h3 {
  color: #4d4d4d;
}

/* -------------------------------- Header -------------------------------- */

.header {
  padding: 30px 0 15px;
}

/* -------------------------------- Intro -------------------------------- */

.logo-holder, #intro {
  background: url('/assets/greenstache2.png');
}

#intro, #contestants, #pictures {
  padding: 30px 0;
  min-height: 500px;
}

#intro {
  color: #FFFFFF;
}

#intro h1, #intro h2, #intro h3 {
  color: #FFF;
}

#intro a {
  color: #000;
}

.facebook-module {
  background-color: #FFF;
  padding: 0;
}

/* -------------------------------- Your Contestants -------------------------------- */

#contestants {
  background: url('/assets/cafe.png');
  border-top: 5px solid #b1e0b8;
}

#contestants .before > .block-grid.two-up > li > span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* -------------------------------- More Photos -------------------------------- */

#pictures {
  background: url('/assets/bg2.png');
  border-top: 5px solid #b1e0b8;
}

/* -------------------------------- Footer -------------------------------- */

#footer {
  background-color: #3c2a44;
  color: #F5F5F5;
  min-height: 30px;
  padding: 10px 0;
}

#footer a {
  color: #F5F5F5;
  font-weight: 600;
}

#footer a:hover {
  color: #b1de86;
  text-decoration: underline;
}

#footer > .row > #footer-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}